.first {
    margin: 80px 0 0 0;
}

.scrolling {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ptype-normal {
    color: gray;
}

.ptype-fire {
    color: red;
}

.ptype-water {
    color: royalblue;
}

.ptype-grass {
    color: green;
}

.ptype-electric {
    color: yellow;
}

.ptype-flying {
    color: skyblue;
}

.ptype-steel {
    color: darkgray;
}

.ptype-ground {
    color: sandybrown;
}

.ptype-rock {
    color: brown;
}

.ptype-poison {
    color: purple;
}

.ptype-fighting {
    color: orange;
}

.ptype-bug {
    color: lightgreen;
}

.ptype-psychic {
    color: pink;
}

.ptype-ghost {
    color: slateblue;
}

.ptype-ice {
    color: lightblue;
}

.ptype-dragon {
    color: darkslateblue;
}

.ptype-dark {
    color: black;
}

.ptype-fairy {
    color: lightpink;
}